﻿@model Escola.Models.Inscrição

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Inscrição</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="control-group">
            @Html.LabelFor(model => model.DataInscrição, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.DataInscrição)
                @Html.ValidationMessageFor(model => model.DataInscrição, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Nota, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Nota)
                @Html.ValidationMessageFor(model => model.Nota, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.DataDeNota, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.DataDeNota)
                @Html.ValidationMessageFor(model => model.DataDeNota, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label col-md-2" for="UCID">UC</label>
            <div class="col-md-2">
                @Html.DropDownList("UCID", String.Empty)
                    @Html.ValidationMessageFor(model => model.UCID)
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label col-md-2" for="AlunoID">Aluno</label>
                    <div class="col-md-2">
                        @Html.DropDownList("AlunoID", String.Empty)
                            @Html.ValidationMessageFor(model => model.AlunoID)
                            </div>
                        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

