﻿@model Escola.Models.UC

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>UC</legend>

        @Html.HiddenFor(model => model.ID)

        <div class="control-group">
            @Html.LabelFor(model => model.Sigla, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Sigla)
                @Html.ValidationMessageFor(model => model.Sigla, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Créditos, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Créditos)
                @Html.ValidationMessageFor(model => model.Créditos, null, new { @class = "help-inline" })
            </div>
        </div>
        <div class="control-group">
            <label class="control-label col-md-2" for="DepartamentoID">Departamento</label>
            <div class="col-md-2">
           
                     @Html.DropDownList("DepartamentoID", String.Empty )
                @Html.ValidationMessageFor(model => model.DepartamentoID)
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

