﻿@model IEnumerable<Escola.Models.Departamento>

@{
    ViewBag.Title = "Departamentos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sigla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Denominação)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string selectedRow = "";
        if (item.ID == ViewBag.SelectedID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Sigla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Denominação)
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = item.ID }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

    @if (ViewBag.SelectedID != null)
{
        <h2>Unidades Curriculares do Departamento</h2>
    <table class="table">
        <tr>
            <th>Sigla</th>
            <th>Créditos</th>
        </tr>
        @foreach (var uc in ViewBag.UCs )
        {
        string selectedRow = "";
        if (uc.ID == ViewBag.ucID)
        {
            selectedRow = "success";
        }
        <tr class="@selectedRow">

            <td>
                @uc.Sigla
            </td>
            <td>
                @uc.Créditos
            </td>
            <td>
                @Html.ActionLink("Select", "Index", new { id = ViewBag.SelectedID, ucID = uc.ID })
            </td>
        </tr>
        }
    </table>
}

@if (ViewBag.ucID != null)
{
    <h2>Inscrições à Unidade Curricular</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Aluno</th>
        </tr>
        @foreach (var i in ViewBag.Inscrições)
        {
            <tr>
                <td>
                    @i.ID
                </td>
                <td>
                    @i.Aluno.NomeCompleto
                </td>
            </tr>
        }
    </table>
}
